# [Prof. Dalvan Griebler](mailto:dalvan.griebler@pucrs.br)

## Programação Orientada a Dados (POD) - Turma 10 (POD_98H04-06)

**Atualizado**: 25/09/2021

**Descrição**: Material de apoio as aulas sobre Python para POD

**Copyright &copy;**: Este documento está sob a licensa da Criative Commons [BY-NC-ND 4.0](https://creativecommons.org/licenses/by-nc-nd/4.0/legalcode)

# Tipos de Dados Compostos em Python

## Tuplas

In [3]:
t = ()
print(type(t))

<class 'tuple'>

In [5]:
t1=(12,"Dalvan",56)
t2=12,45,True
print(type(t1))
print(type(t2))

<class 'tuple'>
<class 'tuple'>

In [7]:
a, b, c = t1

print(a)
print(b)
print(c)

12
Dalvan
56

In [10]:
print(t1[0])
print(t1[1])
print(t1[2])

12
Dalvan
56

In [13]:
l1=["Janeiro", "Fevereiro", "Março", "Abril", "Maio", "Junho", "Julho", "Agosto", "Setembro",
   "Outubro", "Novembro", "Dezembro"]
ts=tuple(l1)
print(ts)

('Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro')

In [16]:
print(ts[0:3])
print(ts[:3])

('Janeiro', 'Fevereiro', 'Março')
('Janeiro', 'Fevereiro', 'Março')

In [18]:
print(ts[-3:])

('Outubro', 'Novembro', 'Dezembro')

In [24]:
class Pessoa:
    def __init__(self, nome, idade):
        self.nome = nome
        self.idade = idade
        
    def __str__(self):
        return self.nome+" possui "+str(self.idade)+" anos!"
    
tx = (20, ts, Pessoa("Filipe", 24), True)

print(tx)
print(tx[2])

# tx[2]="OBJ"

(20, ('Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'), <__main__.Pessoa object at 0x7f21f46c4310>, True)
Filipe possui 24 anos!

In [27]:
for t in tx:
    print(t)
    
for i in range(len(tx)):
    print(tx[i])

20
('Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro')
Filipe possui 24 anos!
True
20
('Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro')
Filipe possui 24 anos!
True

In [35]:
print(tx[1].count("Janeiro"))
print(tx[1].index("Novembro"))

1
10

In [39]:
print("Fevereiro" in tx[1])
print("Vermelho" in tx[1])

True
False

In [47]:
tt = ts+tx
print(tt)

('Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro', 20, ('Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'), <__main__.Pessoa object at 0x7f21f46c4310>, True)

In [49]:
t5=(10,)*10
print(t5)

(10, 10, 10, 10, 10, 10, 10, 10, 10, 10)

In [42]:
for s in ts:
    print(s[:3])

Jan
Fev
Mar
Abr
Mai
Jun
Jul
Ago
Set
Out
Nov
Dez

## Listas

In [44]:
l = []
print(type(l))

<class 'list'>

In [50]:
print(*l1)

Janeiro Fevereiro Março Abril Maio Junho Julho Agosto Setembro Outubro Novembro Dezembro

In [52]:
lx=list(tx)
print(lx)

[20, ('Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'), <__main__.Pessoa object at 0x7f21f46c4310>, True]

In [54]:
ls=list(ts)

print(ls[0:3])
print(ls[:3])

['Janeiro', 'Fevereiro', 'Março']
['Janeiro', 'Fevereiro', 'Março']

In [57]:
print(ls[-3:])

['Outubro', 'Novembro', 'Dezembro']

In [59]:
for l in lx:
    print(l)
    
for i in range(len(lx)):
    print(lx[i])

20
('Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro')
Filipe possui 24 anos!
True
20
('Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro')
Filipe possui 24 anos!
True

In [61]:
l5=[10,]*10
print(l5)

[10, 10, 10, 10, 10, 10, 10, 10, 10, 10]

In [63]:
print(ls+lx)

['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro', 20, ('Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'), <__main__.Pessoa object at 0x7f21f46c4310>, True]

In [65]:
print("Fevereiro" in ls)
print("Vermelho" in ls)

True
False

In [67]:
ls.append("Azul")
print(ls)

['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro', 'Azul', 'Azul']

In [68]:
ls.remove("Azul")

In [70]:
print(ls)

['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro', 'Azul']

In [82]:
ls+=["Azul"]

In [73]:
print(ls)

['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro', 'Azul', 'Azul']

In [79]:
del ls[-1]

In [83]:
print(ls)

['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro', 'Azul']

In [85]:
ls.pop()
print(ls)

['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro']

In [87]:
L1 = [i for i in range(10)]
print(L1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [89]:
L2 = [e*2 for e in L1]
print(L2)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [90]:
Limpares = [e for e in L1 if e%2 != 0]
print(Limpares)

[1, 3, 5, 7, 9]

# Exercício de Fixação: Conta Bancária (Cont-9)

- Objetivo é trabalhar com coleções tal como uma lista 
    - Modifique a classe `ContaBancaria` de tal forma que é possível manter um histórico de transações.
    - Uma transação é uma operação de depósito e saque junto de um valor.
    - O histórico pode ser uma lista ordenada contendo as transações. 
    - Você pode definir uma classe `Transacao` com ações de depósito e saque
    - Toda nova transação, você pode armazenar como lista. Note que você pode implementar o protocolo iterador na classe `ContaBancaria`.
    - Espera-se que funcione da seguinte forma:

```python
for t  in conta1:
    print(t)
```
Saída esperada:
```bash
Transacao[deposito: 11.05]
Transacao[deposito: 43.35]
Transacao[saque: 14.53]
```

## Arranjos

In [2]:
import array as a

A = a.array('i', [1,4,-4, -5, 10])
print(A)

A = a.array('f', [1,4,-4, -5, 10])
A = a.array('f', [1.4564,4.456,-4.123, -5.4564, 10.568])

print(A)

array('i', [1, 4, -4, -5, 10])
array('f', [1.4564000368118286, 4.455999851226807, -4.123000144958496, -5.456399917602539, 10.567999839782715])

In [3]:
print(A.typecode)

A = a.array('u', ['a','b','c', 'd'])
print(A)

A = a.array('u', 'Hello \u2605')
print(A)

f
array('u', 'abcd')
array('u', 'Hello ★')

In [4]:

A = a.array('i', [1,4,-4, -5, 10])

A.append(23)

A+=a.array('i', [32])

print(A)
print(A.buffer_info())

print(A.index(23))

array('i', [1, 4, -4, -5, 10, 23, 32])
(4392223776, 7)
5

In [5]:
print(A[:3])
print(A[0:3])

print(A[::-1])

array('i', [1, 4, -4])
array('i', [1, 4, -4])
array('i', [32, 23, 10, -5, -4, 4, 1])

In [6]:
for n in A:
    print(n)

1
4
-4
-5
10
23
32

In [7]:
for i in range(len(A)):
    print(A[i])

1
4
-4
-5
10
23
32

In [8]:
A2 = a.array(A.typecode, (e*2 if e%2 == 0 else e for e in A))
print(A2)

array('i', [1, 8, -8, -5, 20, 23, 64])

## Conjuntos

In [12]:
c1={""}
print(type(c1))

<class 'set'>

In [13]:
t1=(10,20, 30, 50, 10)
l1=['Dalvan', "Roberto", 'Fernando', "Leonardo", "Dalvan"]

c1=set(t1)
print(c1)

c1=set(l1)
print(c1)

c1={True, 12, 45.67, "Teste"}
print(c1)

c2={1, t1}
print(c2)

{10, 20, 50, 30}
{'Leonardo', 'Roberto', 'Dalvan', 'Fernando'}
{True, 'Teste', 12, 45.67}
{1, (10, 20, 30, 50, 10)}

In [14]:
for c in c1:
    print(c)

True
Teste
12
45.67

In [15]:
c3={'a','b','c','d'}
if 'c' in c3:
    print(c3)
    
print('c' not in c3)

{'d', 'b', 'a', 'c'}
False

In [16]:
c4=set(l1)
c4.add("João")
print(c4)

c4.add("Amanda")
print(c4)

c4.update(['Marcelo', 'Marcelo', 'Cristiano'])
print(c4)

{'Fernando', 'Leonardo', 'João', 'Roberto', 'Dalvan'}
{'Fernando', 'Amanda', 'Leonardo', 'João', 'Roberto', 'Dalvan'}
{'Marcelo', 'Cristiano', 'Fernando', 'Amanda', 'Leonardo', 'João', 'Roberto', 'Dalvan'}

In [17]:
c4.pop()
print(c4)

{'Cristiano', 'Fernando', 'Amanda', 'Leonardo', 'João', 'Roberto', 'Dalvan'}

In [18]:
c4.remove('Dalvan')
print(c4)

{'Cristiano', 'Fernando', 'Amanda', 'Leonardo', 'João', 'Roberto'}

In [19]:
c4.discard('Dalvan')
print(c4)

{'Cristiano', 'Fernando', 'Amanda', 'Leonardo', 'João', 'Roberto'}

In [20]:
c1={'Dalvan', 'Cristiano', 'João', 'Marcelo'}
c2={'Dalvan', 'Amanda', 'Leonardo', 'Fabrine'}

print(c1 | c2)
print(c1.union(c2))

print(c1 & c2)
print(c1.intersection(c2))

print(c1 - c2)
print(c1.difference(c2))

print(c2 - c1)
print(c2.difference(c1))

print(c1 ^ c2)
print(c1.symmetric_difference(c2))

{'Marcelo', 'Cristiano', 'Amanda', 'Leonardo', 'João', 'Fabrine', 'Dalvan'}
{'Marcelo', 'Cristiano', 'Amanda', 'Leonardo', 'João', 'Fabrine', 'Dalvan'}
{'Dalvan'}
{'Dalvan'}
{'João', 'Marcelo', 'Cristiano'}
{'João', 'Marcelo', 'Cristiano'}
{'Fabrine', 'Amanda', 'Leonardo'}
{'Fabrine', 'Amanda', 'Leonardo'}
{'Marcelo', 'Cristiano', 'Amanda', 'Leonardo', 'João', 'Fabrine'}
{'Marcelo', 'Cristiano', 'Amanda', 'Leonardo', 'João', 'Fabrine'}

In [21]:
print(c1.isdisjoint(c2))
print(c2.isdisjoint(c1))

print(c1.issubset(c2))
print(c1.issuperset(c2))

False
False
False
False

# Exercícios de Fixação sobre Conjunto

+ O objetivo é exercitar o uso de conjuntos
    - Crie dois conjuntos de estudantes
        - Um conjunto para os estudantes que fizeram o trabalho da disciplina
        - Um conjunto para os estudante que pegou exame
    - Use estes dois conjuntos para responder as seguintes perguntas:
        - Quais estudantes fizeram o trabalho e pegaram o exame?
        - Quais estudantes somente pegaram exame?
        - Quais estudante somente fizeram o trabalho?
        - Liste todos os estudantes que fizeram um de ambos: trabalho e exame
        - Liste todos os estudantes que não fizeram um de ambos: trabalho e exame

In [37]:
E1 = {"Pedro","Aurelio","Jamal"}
E2 = {"Pedro", "Adalberto", "Neymar Jr"}

print("Fizeram trabalho e pegaram exame:", E1.union(E2)) # E1 | E2
print("Somente pegaram exame:", E2.difference(E1)) # E2 - E1
print("Somente fizeram o trabalho:", E1.difference(E2)) # E1 - E2
print("Fizeram um de ambos:", E1.symmetric_difference(E2)) # E1 ^ E2
print("Não fizeram um de ambos:", E1.intersection(E2)) # E1 & E2

Fizeram trabalho e pegaram exame: {'Adalberto', 'Pedro', 'Neymar Jr', 'Aurelio', 'Jamal'}
Somente pegaram exame: {'Neymar Jr', 'Adalberto'}
Somente fizeram o trabalho: {'Aurelio', 'Jamal'}
Fizeram um de ambos: {'Adalberto', 'Neymar Jr', 'Aurelio', 'Jamal'}
Não fizeram um de ambos: {'Pedro'}

## Dicionários

In [24]:

capitais={'RS':'Porto Alegre',
         'RJ':'Rio de Janeiro',
          'PR': 'Curitiba',
          'MG': 'Belo Horizonte'
         }

print(capitais)

d1=dict(RS='Porto Alegre', RJ='Rio de Janeiro', PR='Curitiba', MG='Belo Horizonte')

print(d1)

d1=dict((['RS','Porto Alegre'], ['RJ','Rio de Janeiro'], ['PR', 'Curitiba'], ['MG', 'Belo Horizonte']))
print(d1)

{'RS': 'Porto Alegre', 'RJ': 'Rio de Janeiro', 'PR': 'Curitiba', 'MG': 'Belo Horizonte'}
{'RS': 'Porto Alegre', 'RJ': 'Rio de Janeiro', 'PR': 'Curitiba', 'MG': 'Belo Horizonte'}
{'RS': 'Porto Alegre', 'RJ': 'Rio de Janeiro', 'PR': 'Curitiba', 'MG': 'Belo Horizonte'}

In [25]:
print(capitais['RS'])
print(capitais.get('RS'))

capitais['RS']='Viamão'

print(capitais.values())
print(capitais.keys())
print(capitais.items())

for chave in capitais:
    print(chave)
    if chave in capitais:
        print(capitais[chave])
    
for value in capitais.values():
    print(value)
    
for item in capitais.items():
    print(item)

Porto Alegre
Porto Alegre
dict_values(['Viamão', 'Rio de Janeiro', 'Curitiba', 'Belo Horizonte'])
dict_keys(['RS', 'RJ', 'PR', 'MG'])
dict_items([('RS', 'Viamão'), ('RJ', 'Rio de Janeiro'), ('PR', 'Curitiba'), ('MG', 'Belo Horizonte')])
RS
Viamão
RJ
Rio de Janeiro
PR
Curitiba
MG
Belo Horizonte
Viamão
Rio de Janeiro
Curitiba
Belo Horizonte
('RS', 'Viamão')
('RJ', 'Rio de Janeiro')
('PR', 'Curitiba')
('MG', 'Belo Horizonte')

In [26]:
if 'PR' in capitais:
    print(d1)

{'RS': 'Porto Alegre', 'RJ': 'Rio de Janeiro', 'PR': 'Curitiba', 'MG': 'Belo Horizonte'}

In [27]:
capitais.popitem()
print(capitais)

{'RS': 'Viamão', 'RJ': 'Rio de Janeiro', 'PR': 'Curitiba'}

In [28]:
capitais.update(PR='Curitiba', MG='Belo Horizonte')
print(capitais)

{'RS': 'Viamão', 'RJ': 'Rio de Janeiro', 'PR': 'Curitiba', 'MG': 'Belo Horizonte'}

In [29]:
capitais.setdefault('MT')
print(capitais)

{'RS': 'Viamão', 'RJ': 'Rio de Janeiro', 'PR': 'Curitiba', 'MG': 'Belo Horizonte', 'MT': None}

In [30]:
capitais['MT']='Cuiabá'
print(capitais)

{'RS': 'Viamão', 'RJ': 'Rio de Janeiro', 'PR': 'Curitiba', 'MG': 'Belo Horizonte', 'MT': 'Cuiabá'}

In [31]:
estacoes= {'Primavera': ('Setembro', 'Outubro', 'Novembro'),
           'Verão': ('Dezembro', 'Janeiro', 'Fevereiro'),
           'Inverno': ('Junho', 'Julho', 'Agosto'),
           'Outono': ('Março', 'Abril', 'Maio')
          }

print(estacoes['Primavera'])
print(estacoes['Primavera'][1])

('Setembro', 'Outubro', 'Novembro')
Outubro

In [32]:
for v in estacoes:
    for e in estacoes[v]:
        print(e)

Setembro
Outubro
Novembro
Dezembro
Janeiro
Fevereiro
Junho
Julho
Agosto
Março
Abril
Maio

In [97]:
print(capitais['RS'].__hash__())
print(capitais['RS'].__eq__('Viamão'))

8186175058720960853
True

In [15]:
class SemHash:
    __hash__ = None
    
class Pessoa:
    def __init__(self, nome, idade):
        self.nome = nome
        self.idade = idade
        
#    __hash__ = None  -- impede de acessar um index no dicionario
        
P1=Pessoa('Dalvan', 20)

P = SemHash()

d = {P1: 3000}

print(d)

{<__main__.Pessoa object at 0x7f1ec02fc190>: 3000}